body {
    background: #232323;
}
h1, span{
    color: white;    
}
.container {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
}
.square {
    background-color: purple;
    padding: 75px;
    border-radius: 10px;
}